[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "require-corp"

[[headers]]
  for = "*.wasm"
  [headers.values]
    Content-Type = "application/wasm"

[[headers]]
  for = "*.data"
  [headers.values]
    Content-Type = "application/octet-stream"

[[headers]]
  for = "/Build/*"
  [headers.values]
    Cache-Control = "public, max-age=31536000"
